* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ffba71, #d84f85, #8042b1);
  overflow: hidden;
}

.slider {
  position: relative;
  padding: 20px 0;
}

.slider-track {
  display: flex;
  flex-direction: column;
  gap: 40px;
  cursor: grab;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider-track.dragging {
  cursor: grabbing;
  transition: none;
}

.card {
  background-color: #ffba712c;
  border-top: 2px solid #ffffff54;
  border-left: 2px solid #ffffff54;
  width: 300px;
  padding: 10px 10px 50px;
  backdrop-filter: blur(5px);
  border-radius: 19px;
  filter: drop-shadow(4px 4px 10px #00000054);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  opacity: 0.7;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.3s ease;
}

.card.active {
  transform: scale(1.5);
  opacity: 1;
  z-index: 1;
}

.card:not(.active) {
  transform: scale(0.95);
  opacity: 0.3;
}

.skeleton {
  background-color: #ffc48467;
  backdrop-filter: blur(5px);
  filter: drop-shadow(1px 1px 5px #00000054);
  border-top: 2px solid #ffffff54;
  border-left: 2px solid #ffffff54;
  border-radius: 9px;
}

.skeleton-1 {
  width: 100%;
  height: 100px;
}

.skeleton-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.avatar-skeleton {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.text-skeleton {
  width: 210px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-skeleton-1 {
  height: 32px;
}
.text-skeleton-2 {
  height: 16px;
}
